//
// Guru browser width indicator
//
// .guru-browser-indicator is only available for users with "administer nodes" permission currently.
//
// See also js/behaviors.js -> Drupal.behaviors.guruBrowserWidth
//
// Weight: 99
//
// Styleguide Components - Broser width indicator
//


// body.is-touch-debug.
.is-touch-debug {
  a {
    // scss-lint:disable ImportantRule
    background: $red !important;
  }

  .guru-browser-indicator {
    border-left: 3px solid $red;
  }
}

// body.is-browsersync
.user-logged-in,
.is-browsersync {
  .guru-browser-indicator {

    // See: scss/variables/_breakpoints.scss.
    @extend %guru-browser-width;

    background: $green;
    bottom: 2em;
    font-size: .75em;
    height: 2em;
    line-height: 2em;
    padding: 0 .3em;
    position: fixed;
    right: 2em;
    text-align: right;
    width: auto;

    &::before {
      background: $green;
      content: '';
      display: block;
      float: left;
      height: 2em;
      padding-right: .5em;
      right: 6em;
      text-align: center;
      width: auto;
    }
  }
}

